# Auto detect text files and perform LF normalization
* text=auto

# Hints for GitHub linguist library
Docs/* linguist-documentation
SW/PAx5_Base/Drivers/* linguist-vendored

# source files
*.c text
*.cpp text
*.c++ text
*.h text
*.s text
*.ld text
*.sch text
*.kicad_pcb text

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.md text
*.textile text
